**.*
!.gitignore
!.gitlab-ci.yml
!book.toml
!theme/**.css
!theme/**.hbs
!theme/**.js
!**.md
!**.png
!**.svg
!**.jpg
!**.sh
!.vscode/settings.json
book
**.DS_Store
**.ini
!theme/src/**.css
!script/**.py