default:
    image: ubuntu
pages:
    stage: deploy
    script:
        - git clone https://github.com/SichangHe/mdbook_binaries.git
        - mdbook_binaries/bin/mdbook build
        - mv book/html public
    artifacts:
        paths:
            - public
